/* Github buttons
-------------------------------------------------- */
body {
  padding: 0;
  margin: 0;
  font: bold 11px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.github-btn {
  display: none;
  height: 20px;
  overflow: hidden;
}
.github-btn .gh-btn,
.github-btn .gh-count,
.github-btn .gh-ico {
  float: left;
}
.github-btn .gh-btn,
.github-btn .gh-count {
  padding: 1px 5px 1px 4px;
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.github-btn .gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
}
.github-btn .gh-btn:hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -10px;
}
.github-btn .gh-btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
}
.github-btn .gh-ico {
  margin-right: 4px;
  opacity: .65;
}
.github-btn .gh-btn:hover .gh-ico {
  opacity: .75;
}
.github-btn .gh-count {
  display: inline-block;
  margin-left: 2px;
  background-color: #fff;
  border: 1px solid #ddd;
}
