/*
 * Reset
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font: 14px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 34em) {
  html {
    font-size: 18px;
  }
}
body {
  padding: 1.5rem;
  font-size: 1rem;
  color: #555;
  text-align: center;
  background-color: #fff;
}
h1, h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
p {
  margin-top: 0;
  margin-bottom: .5rem;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/*
 * Download button
 */

.btn {
  padding: .75rem 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-color: #3072b3; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #599bdc 0%, #3072b3 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#599bdc), color-stop(100%,#3072b3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #599bdc 0%,#3072b3 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #599bdc 0%,#3072b3 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #599bdc 0%,#3072b3 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#599bdc', endColorstr='#3072b3',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #599bdc 0%,#3072b3 100%); /* W3C */
  border: 1px solid #2967a4;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.2);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.btn:hover {
  text-decoration: none;
  background-position: 0 -15px;
}
.btn:active {
  background-image: none;
  background-color: #3072b3; /* Old browsers */
  box-shadow: inset 0 5px 10px rgba(0,0,0,.125), 0 1px 2px rgba(0,0,0,.2);
}


/*
 * Masthead
 */

.masthead {
  margin-bottom: 2rem;
}
.masthead .tweet-button {
  margin: 0 auto 1rem;
}
.masthead .introducing {
  margin-bottom: 1rem;
  color: #999;
}
.masthead h1 {
  font-size: 4rem;
}
.masthead .tagline {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}


/*
 * Grid and columns
 */

.container {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin-bottom: 1rem;
}
.col {
  margin-bottom: 1.5rem;
  text-align: center;
}
.col iframe {
  display: block;
  margin: .5rem auto;
}

@media (min-width: 40em) {
  .grid {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .col {
    display: table-cell;
  }
}


/*
 * Misc
 */

hr {
  display: block;
  width: 7rem;
  height: 1px;
  margin: 2.5rem auto;
  background-color: #eee;
  border: 0;
}

/* Space buttons in footer */
iframe + iframe {
  margin-left: 10px;
}

