/*
 * Reset
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: 1.5rem 1.5rem 3rem;
  margin: 0;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

h1,
h2 {
  margin-top: 0;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: .5rem;
  font-size: 3rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 + p {
  font-size: 1.25rem;
  color: #555;
}

a {
  color: #0366d6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: .5rem;
  font-size: 90%;
  vertical-align: top;
  border: 1px solid #eee;
}

th {
  background-color: #f5f5f5;
}

.deprecated {
  display: inline-block;
  padding: .25rem .5rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
  background-color: #ff4136;
  border-radius: .2rem;
}

// stylelint-disable-next-line selector-max-id
#markdown-toc > li:first-child,
#markdown-toc > li:last-child {
  display: none;
}

/*
 * Code
 */

code,
pre {
  font-family: Menlo, "Courier New", monospace;
  font-size: 95%;
}

code {
  padding: 2px 4px;
  font-size: 85%;
  color: #d44950;
  background-color: #f7f7f9;
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

.highlight {
  padding: 1rem;
  margin: 0 0 1rem;
  background-color: #f7f7f9;

  pre {
    margin-bottom: 0;
    word-wrap: break-word;
  }

  + .highlight {
    margin-top: 1rem;
  }
}

/*
 * Download button
 */

.btn {
  display: inline-block;
  padding: .5rem 1.25rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #0366d6;
  border: 1px solid #0366d6;
  border-radius: 6px;

  &:hover {
    text-decoration: none;
    background-color: #005cc5;
  }

  &:active {
    border-color: #005cc5;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .2);
  }
}

/*
 * Masthead
 */

.tweet-button {
  height: 30px;
  overflow: hidden;

  + p {
    margin-top: 1rem;
    color: #767676;
  }
}


/*
 * Grid and columns
 */

.container {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}


/*
 * Misc
 */

hr {
  display: block;
  width: 7rem;
  height: 1px;
  margin: 2.5rem 0;
  background-color: #eee;
  border: 0;
}

/*
 * Embed spacing
 */

.example {
  margin-bottom: 1rem;
  overflow: auto;

  iframe {
    display: block;

    + iframe {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 34em) {
  .example {
    display: inline-block;
    line-height: 30px;

    iframe {
      float: left;

      + iframe {
        margin-top: 5px;
        margin-left: 1rem;
      }
    }
  }
}
