<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Unofficial GitHub Watch &amp; Fork Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark Otto">
    <meta name="description" content="A set of static buttons with dynamic watch and fork counts for any repo hosted on GitHub.">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="page.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="tweet-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="mdo">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      </div>

      <p>Introducing the unofficial</p>
      <h1>GitHub buttons</h1>
      <p>Showcase your GitHub repo&#39;s success with hotlinkable GitHub star, fork, or follow buttons. Available in two sizes with up-to-date counts.</p>
      <p>Made by <a href="http://twitter.com/mdo">@mdo</a>. Available on <a href="https://github.com/mdo/github-buttons">GitHub</a>. Licensed <a href="http://www.apache.org/licenses/LICENSE-2.0&quot;">Apache 2</a>.</p>

      <hr>

      {{ content }}
    </div>
  </body>
</html>
